@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

html, body {
  background: #444;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

.scale {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 22px;
  color: white;
}

.scale span {
  display: block;
  padding: 8px;
  background: #444;
  cursor: pointer;
  opacity: 0.8;
}

.scale span:hover {
  opacity: 1;
}

.scale span:first-child {
  margin-bottom: 4px;
}
